<div class="alert alert-<%= flashMessage[0].status %> alert-dismissible fade show" role="alert">
    <strong><%= flashMessage[0].message %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>